@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Import</h2>
        <p>
            Import books from files
        </p>
        @using (Html.BeginForm("ImportA", "Home", FormMethod.Post, new {enctype = "multipart/form-data" }))
        {
            <input type="file" name="file" id="file"/>
            <input type="submit" value="Import"/>
        }

        @using (Html.BeginForm("ImportB", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input type="file" name="file" id="file" />
            <input type="submit" value="Import" />
        }

        @ViewBag.Message

    </div>   
</div>